<%- include('../partials/head') %>

<div class="d-flex justify-content-center align-items-center vh-100">
    <form action="/login" method="POST" 
          class="was-validated border border-5 rounded p-4 w-50">

        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
            <label>Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            <label>Password</label>
        </div>

        <div class="d-flex justify-content-center gap-3"> 
            <button type="submit" class="btn btn-primary px-4">
                Đăng Nhập
            </button>
        </div>

    </form>
</div>  